

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 26, 2026, 9:42:55 AM
    Author     : Alex
*/



.dashboard {
		min-height: 83vh;
		height: 100%;
		display: flex;
		align-content:space-around;
		flex-wrap:wrap;
		margin: 0;
}

.dashboard-Main {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap:wrap;
		min-height: 200px;
		margin-bottom: 6vh;
}

.dashboard-Main-Btn {
		border-radius:10px;
		display: block;
		min-width: 100px;
		min-height: 100px;
		max-width: 200px;
		max-height: 200px;
		background-color: grey;
		flex-grow: 1;
}

.dashboard-Main-Btn-Link {
		border-radius:10px;
		min-width: 100%;
		min-height: 100%;
		padding: 15px;
		/* Prevents text selection	*/
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
		border-width: 0;
		display: block;
		position: relative;
}

.dashboard-Main-Btn-Link .SVGLink {
		width: 100%;
		height: 100%;
}

.dashboard-Main-Btn-Link #ProvinceState {
		margin-left: 5%;
		margin-right: 5%;
		width: 91%;
		height: auto;
}

.dashboard-Main-Btn-Link #addressBook {
		margin-top: 9%;
}

.dashboard-Main-Btn-Link #languages {
		margin-top: 8%;
}

.dashboard-Main-Btn-Link #filamentMaterial {
		margin-top: 6%;
}

.dashboard-Main-Btn-Link #Invoice {
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
		height: auto;
}

.dashboard-Main-Btn-Link #ITSM {
		margin-top: 9%;
}

.dashboard-Main-Btn-Link #currencies {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		height: auto;
}


@media only screen and not (min-width: 992px)  {
		.dashboard-Main {
				display: inline-flex;
				min-height: 100px;
				padding: 0;
				flex-wrap:nowrap;
				margin-bottom: 6vh;
		}
		
		.dashboard-Main-Btn {
				max-width: 100px;
		}
		
		.dashboard-Main-Btn-Link {
				padding: 5px;
		
		}
}